html,
body,
.c9s-issues-table-filter-bar,
.mat-chip.mat-standard-chip,
.c9s-issues-table-container.mat-card .c9s-issues-table .mat-header-row,
.mat-chip.mat-standard-chip::after,
.mat-calendar-body-today.mat-calendar-body-selected,
.wrapper.show-border,
.resource-selector,
.fb-non-dismissed-alerts-container .fire-alerts-drawer-header,
.feature-bar-page-margins fire-feature-bar-image,
mat-card.crash-insight .heading,
.app-bar {
  background: #fff !important;
}
body, .ng-star-inserted, .canvas-theme-container {
  --theme-color-bg: #fff !important;
  --fire-color-featurebar-bg: #fff !important;
  --fire-color-sidenav-bg-default: #fff !important;
  --fire-color-sidenav-bg-selected: #fff !important;
  --fire-color-primary-default: #fff !important;
  --theme-color-fg-rgb: #fff !important;
  --fire-color-tab-underline: #fff !important;
  --fire-color-sidenav-hover-bg: #fff !important;
  --fire-color-popover-bg: #fff !important;
  --fire-color-featuretitle-badge-bg: #fff !important;
}
.navbar {
  background-image: none !important;
}
.mat-card,
.mat-chip,
.mat-menu-panel,
.mat-calendar-body-today.mat-calendar-body-selected,
.resource-selector,
.wrapper.show-border {
  border: 1px solid #000 !important;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell,
.c9s-issues-table-filter-bar {
  border-color: transparent !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  border: 1px solid #000 !important;
  background: #fff !important;
}