body {
  --devsite-code-background: #fff !important;
  --devsite-button-primary-background: #fff !important;
  --devsite-code-color: #000 !important;
  --devsite-primary-border: 1px solid #000 !important;
}

.pre-style, code, pre {
    background-color: #fff !important;
    color: #000 !important;
}
devsite-header .devsite-collapsible-section,
devsite-user .devsite-devprofile-wrapper.open .devsite-devprofile-button {
    background-color: #fff !important;
}
.devsite-tooltip-msg {
    background-color: #fff !important;
    border: 1px solid #000 !important;
}