#bres h3 + div a,
#fbar,
input[type="submit"],
.c93Gbe {
  background-color: #fff !important;
}
#bres h3 + div a,
.logo + div,
input[type="submit"],
.logo + div + div {
  border: 1px solid #000 !important;
}
div[role="navigation"] td span {
  background-image: none !important;
}
