body {
    --md-code-bg-color: #fff !important;
    --md-footer-bg-color: #fff !important;
    --md-footer-bg-color--dark: #fff !important;
    --md-code-hl-color: #eef !important;
}

.md-typeset pre>code {
    border: 1px solid #000 !important;
}

.md-typeset table:not([class]) th,
.md-typeset table:not([class]) tbody tr:hover {
    background-color: #fff !important;
}