button {
    border: 1px solid #000;
    padding: 8px 16px;
    background: #fff;
    border-radius: 4px;
    margin: 16px;
    white-space: nowrap;
    cursor: pointer;
}

#shortcuts {
    text-align: center;
    margin: 0 16px 16px 16px;
    display: block;
}