button {
    border: 1px solid #000;
    padding: 8px 16px;
    background: #fff;
    border-radius: 4px;
    margin: 16px 16px 0 16px;
    white-space: nowrap;
    min-width: 180px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

#shortcuts {
    text-align: center;
    margin: 16px;
    display: block;
}
