body {
  --black-025: #fff !important;
  --black-050: #fff !important;
  --black-075: #fff !important;
  --black-100: #fff !important;
  --black-200: #000 !important;
  --black-300: #000 !important;
  --black-600: #000 !important;
  --bc-medium: #000 !important;
  --theme-button-filled-background-color: #fff !important;
  --theme-button-filled-hover-background-color: #fff !important;
  --theme-button-filled-border-color: #000 !important;
  --theme-button-primary-background-color: #fff !important;
  --theme-button-primary-hover-background-color: #fff !important;
  --theme-footer-background-color: #fff !important;
  --theme-tag-background-color: #fff !important;
  --theme-tag-border-color: #000 !important;
  --theme-tag-hover-background-color: #fff !important;
  --theme-tag-hover-border-color: #000 !important;
  --blue-600: #fff !important;
  --green-400: #fff !important;
  --yellow-050: #fff !important;
  --yellow-100: #fff !important;
  --yellow-200: #000 !important;
  --theme-post-owner-background-color: #fff !important;
  --highlight-bg: #fff !important;
  --theme-secondary-050: #fff !important;
  --bronze-lighter: #fff !important;
  --powder-050: #fff !important;
  --theme-primary-600: #fff !important;
  --theme-post-owner-new-background-color: #fff !important;
}

.s-navigation .s-navigation--item.is-selected,
pre.s-code-block,
.badge,
.topbar-dialog,
.badge-tag {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}
body.theme-highcontrast .s-btn-group .s-btn.is-selected,
.s-post-summary--stats
  .s-post-summary--stats-item.has-answers.has-accepted-answer {
  background-color: transparent !important;
}
.s-btn__primary {
  border-color: #000 !important;
}

div.clc-jobs-multi.blue,
div.clc-jobs-multi.blue .slanted-bg {
  background-image: none !important;
}

.everyonelovesstackoverflow,
#sidebar .zone-container-sidebar,
#sidebar .s-sidebarwidget,
#hot-network-questions,
.s-popover--arrow,
#footer,
#left-sidebar,
.sidebar-linked {
  display: none !important;
}
