:root {
    --code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important;
    --vt-c-green: #fff !important;
}
.eslint-code-container, div[class*=language-], .home .hero .action-button {
    background-color: #fff !important;
    border: 1px solid #000 !important;
}
.monaco-editor *, code,
div[class*=language-] pre, div[class*=language-] pre[class*=language-] {
    background-color: #fff !important;
}