.Input-wrapper.Input-wrapper--grey,
.Tag,
.Button--primary.Button--blue,
.css-zvnmar,
.LabelContainer-wrapper + a,
.ExploreHomePage-specialsLoginButton,
.KfeCollection-PcCollegeCard-type,
.SearchItem-type,
.TooltipContent,
.VoteButton,
.AppHeader-notifications > div,
a.Button--withLabel,
.ExploreSpecialCard-contentTag,
.QuestionType,
.AppHeader-messages > div {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

body,
.VotableTopicCard,
.CornerButton:hover,
.UserCover--colorBlock,
.QuestionItem-footer--writeAnswerButton {
  background-color: #fff !important;
}
.CommentsV2-withPagination {
  border-color: #000 !important;
}
.SignFlowHomepage {
  background-image: none !important;
  background-color: #fff !important;
}
.Question-sideColumn,
.Footer,
.GlobalSideBar,
.TopstoryItem--advertCard,
.Post-Sub .Recommendations-Main {
  display: none !important;
}
